body {
   font-family: 'Roboto';
}

.container {
   width: 400px;
   margin: 0 auto;
   display: block;
}

h2:nth-child(1) {
    -webkit-animation-delay: 1s; /* Chrome, Safari, Opera */
    animation-delay: 1s;
    color: red;
}

h2:nth-child(2) {    
   -webkit-animation-delay: 2s; /* Chrome, Safari, Opera */
    animation-delay: 2s;
    color: green;
}

h2:nth-child(3) {
    -webkit-animation-delay: 3s; /* Chrome, Safari, Opera */
    animation-delay: 3s;
   color: blue;
}

h2:nth-child(4) {
    -webkit-animation-delay: 4s; /* Chrome, Safari, Opera */
    animation-delay: 4s;
   color: purple;
}

.heart {
   width: 200px;
}